{:paths ["src"]
 #_(ns deps.edn (:require [clojure.tools.deps.alpha.repl :refer [add-libs]]))
 #_(add-libs)
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/tools.deps.alpha {:mvn/version "0.9.857"}
        org.clojure/tools.logging {:mvn/version "1.1.0"}
        org.clojure/tools.namespace {:mvn/version "1.1.0"}
        org.apache.logging.log4j/log4j-core {:mvn/version "2.14.0"}
        org.slf4j/slf4j-simple {:mvn/version "1.7.30"}}
 :aliases {:test {:main-opts ["-m" "hf.depstar.uberjar" "depstar-standalone.jar"
                              "-C" "-m" "hf.depstar.uberjar"]}
           :jar {:exec-fn hf.depstar/jar
                 :exec-args {:jar depstar.jar}}
           :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "RELEASE"}}
                    :main-opts ["-m" "deps-deploy.deps-deploy" "deploy" "depstar.jar"]}}}
