{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/tools.deps.alpha {:mvn/version "0.12.985"}
        org.clojure/tools.logging {:mvn/version "1.1.0"}
        org.clojure/tools.namespace {:mvn/version "1.1.0"}
        org.apache.logging.log4j/log4j-core {:mvn/version "2.14.1"}
        org.slf4j/slf4j-simple {:mvn/version "1.7.30"}}
 :tools/usage {:ns-default hf.depstar}
 :aliases {:test
           {:extra-paths ["test"]
            :extra-deps {io.github.cognitect-labs/test-runner
                         {:git/url "https://github.com/cognitect-labs/test-runner"
                          :sha "62ef1de18e076903374306060ac0e8a752e57c86"}}
            :exec-fn cognitect.test-runner.api/test}
           :build {:deps {io.github.clojure/tools.build {:tag "v0.1.2" :sha "81f05b7"
                                                         :exclusions [org.slf4j/slf4j-nop]}
                          com.github.seancorfield/depstar {:local/root "."}}
                   :ns-default build}
           :jar {:exec-fn hf.depstar/jar
                 :exec-args {:jar "depstar.jar" :sync-pom true}}
           :deploy {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
                    :exec-fn deps-deploy.deps-deploy/deploy
                    :exec-args {:installer :remote :artifact "depstar.jar"}}
           ;; the following aliases are all tests for particular issues:
           :test-issue-5
           {:replace-deps {clj-time/clj-time  {:mvn/version "0.15.2"}
                           java-time-literals {:mvn/version "2018-04-06"}}}
           :test-issue-7
           {:replace-deps {javax.xml.bind/jaxb-api {:mvn/version "2.3.0"}}}
           :test-issue-22
           {:replace-deps {javax.xml.bind/jaxb-api {:mvn/version "2.3.0"}}}
           :test-issue-64
           {:extra-paths ["test-64"]}
           :direct-linking ["-Dclojure.compiler.direct-linking=true"]
           :test-issue-65
           {:extra-paths ["test-65"]}
           :test-issue-66
           {:replace-deps {org.danielsz/lang-utils {:mvn/version "0.1.3"}}}}}
